In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System.csv')

In [13]:
df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2020,2020,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,NaN,PA,PA1,Q047,VALUE,59,Race/Ethnicity,Hispanic,RACE,RACEHIS
1,2014,2014,GU,Guam,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(13.444304, 144.793731)",OWS,OWS1,Q036,VALUE,66,Education,High school graduate,EDU,EDUHSGRAD
2,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,NaN,OWS,OWS1,Q036,VALUE,59,Income,"$50,000 - $74,999",INC,INC5075
3,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,NaN,OWS,OWS1,Q037,VALUE,59,Income,Data not reported,INC,INCNR
4,2015,2015,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 300 min...,NaN,Value,...,NaN,PA,PA1,Q045,VALUE,59,Income,"Less than $15,000",INC,INCLESS15

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93249 entries, 0 to 93248
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YearStart                   93249 non-null  int64
 1   YearEnd                     93249 non-null  int64
 2   LocationAbbr                93249 non-null  object
 3   LocationDesc                93249 non-null  object
 4   Datasource                  93249 non-null  object
 5   Class                       93249 non-null  object
 6   Topic                       93249 non-null  object
 7   Question                    93249 non-null  object
 8   Data_Value_Unit             0 non-null      float64
 9   Data_Value_Type             93249 non-null  object
 10  Data_Value                  84014 non-null  float64
 11  Data_Value_Alt              84014 non-null  float64
 12  Data_Value_Footnote_Symbol  9235 non-null   object
 13  Data_Value_Footnote         9235 non-null   object
 14  Low_Confidence_Limit        84014 non-null  float64
 15  High_Confidence_Limit       84014 non-null  float64
 16  Sample_Size                 84014 non-null  float64
 17  Total                       3330 non-null   object
 18  Age(years)                  19980 non-null  object
 19  Education                   13320 non-null  object
 20  Gender                      6660 non-null   object
 21  Income                      23310 non-null  object
 22  Race/Ethnicity              26640 non-null  object
 23  GeoLocation                 91513 non-null  object
 24  ClassID                     93249 non-null  object
 25  TopicID                     93249 non-null  object
 26  QuestionID                  93249 non-null  object
 27  DataValueTypeID             93249 non-null  object
 28  LocationID                  93249 non-null  int64
 29  StratificationCategory1     93240 non-null  object
 30  Stratification1             93240 non-null  object
 31  StratificationCategoryId1   93240 non-null  object
 32  StratificationID1           93240 non-null  object
dtypes: float64(6), int64(3), object(24)
memory usage: 23.5+ MB

In [15]:
columns_to_drop = [
    'Datasource', 'Topic', 'Data_Value_Unit', 'Data_Value_Type', 
    'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'Total', 
    'ClassID', 'TopicID', 'QuestionID', 'DataValueTypeID', 
    'StratificationCategoryId1', 'StratificationID1', 'Education'
]

# Drop the specified columns
data_cleaned = df.drop(columns=columns_to_drop)

In [16]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93249 entries, 0 to 93248
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   YearStart                93249 non-null  int64
 1   YearEnd                  93249 non-null  int64
 2   LocationAbbr             93249 non-null  object
 3   LocationDesc             93249 non-null  object
 4   Class                    93249 non-null  object
 5   Question                 93249 non-null  object
 6   Data_Value               84014 non-null  float64
 7   Data_Value_Alt           84014 non-null  float64
 8   Low_Confidence_Limit     84014 non-null  float64
 9   High_Confidence_Limit    84014 non-null  float64
 10  Sample_Size              84014 non-null  float64
 11  Age(years)               19980 non-null  object
 12  Gender                   6660 non-null   object
 13  Income                   23310 non-null  object
 14  Race/Ethnicity           26640 non-null  object
 15  GeoLocation              91513 non-null  object
 16  LocationID               93249 non-null  int64
 17  StratificationCategory1  93240 non-null  object
 18  Stratification1          93240 non-null  object
dtypes: float64(5), int64(3), object(11)
memory usage: 13.5+ MB

In [17]:
data_cleaned.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Class,Question,Data_Value,Data_Value_Alt,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,Age(years),Gender,Income,Race/Ethnicity,GeoLocation,LocationID,StratificationCategory1,Stratification1
0,2020,2020,US,National,Physical Activity,Percent of adults who engage in no leisure-tim...,30.6,30.6,29.4,31.8,31255.0,NaN,NaN,NaN,Hispanic,NaN,59,Race/Ethnicity,Hispanic
1,2014,2014,GU,Guam,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,29.3,29.3,25.7,33.3,842.0,NaN,NaN,NaN,NaN,"(13.444304, 144.793731)",66,Education,High school graduate
2,2013,2013,US,National,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,28.8,28.8,28.1,29.5,62562.0,NaN,NaN,"$50,000 - $74,999",NaN,NaN,59,Income,"$50,000 - $74,999"
3,2013,2013,US,National,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,32.7,32.7,31.9,33.5,60069.0,NaN,NaN,Data not reported,NaN,NaN,59,Income,Data not reported
4,2015,2015,US,National,Physical Activity,Percent of adults who achieve at least 300 min...,26.6,26.6,25.6,27.6,30904.0,NaN,NaN,"Less than $15,000",NaN,NaN,59,Income,"Less than $15,000"

In [22]:
def fill_age(row):
    if row['StratificationCategory1'] == 'Education':
        return np.random.randint(18, 26)  # Random age between 18 and 25
    elif row['StratificationCategory1'] == 'Income':
        return np.random.randint(20, 51)  # Random age between 20 and 50
    else:
        return np.random.randint(30, 61)  # Random age between 30 and 60 for other categories

# Apply the function to fill null ages based on the conditions
data_cleaned['Age(years)'] = data_cleaned.apply(lambda row: fill_age(row) if pd.isnull(row['Age(years)']) else row['Age(years)'], axis=1)

In [26]:
null_gender_indices = data_cleaned[data_cleaned['Gender'].isnull()].index
data_cleaned.loc[null_gender_indices, 'Gender'] = np.random.choice(['Male', 'Female'], size=len(null_gender_indices))

In [28]:
data_cleaned = data_cleaned.dropna(subset=['Income'])

In [33]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23310 entries, 2 to 93247
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   YearStart                23310 non-null  int64
 1   YearEnd                  23310 non-null  int64
 2   LocationAbbr             23310 non-null  object
 3   LocationDesc             23310 non-null  object
 4   Class                    23310 non-null  object
 5   Question                 23310 non-null  object
 6   Data_Value               23186 non-null  float64
 7   Data_Value_Alt           23186 non-null  float64
 8   Low_Confidence_Limit     23186 non-null  float64
 9   High_Confidence_Limit    23186 non-null  float64
 10  Sample_Size              23186 non-null  float64
 11  Age(years)               23310 non-null  object
 12  Gender                   23310 non-null  object
 13  Income                   23310 non-null  object
 14  GeoLocation              22876 non-null  object
 15  LocationID               23310 non-null  int64
 16  StratificationCategory1  23310 non-null  object
 17  Stratification1          23310 non-null  object
dtypes: float64(5), int64(3), object(10)
memory usage: 3.4+ MB

In [32]:
data_cleaned = data_cleaned.drop(columns=['Race/Ethnicity'])

In [34]:
data_cleaned = data_cleaned.dropna(subset=['GeoLocation'])

In [38]:
data_cleaned = data_cleaned.dropna(subset=['Data_Value', 'Data_Value_Alt', 'Low_Confidence_Limit', 'Sample_Size'])

In [39]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22752 entries, 8 to 93247
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   YearStart                22752 non-null  int64
 1   YearEnd                  22752 non-null  int64
 2   LocationAbbr             22752 non-null  object
 3   LocationDesc             22752 non-null  object
 4   Class                    22752 non-null  object
 5   Question                 22752 non-null  object
 6   Data_Value               22752 non-null  float64
 7   Data_Value_Alt           22752 non-null  float64
 8   Low_Confidence_Limit     22752 non-null  float64
 9   High_Confidence_Limit    22752 non-null  float64
 10  Sample_Size              22752 non-null  float64
 11  Age(years)               22752 non-null  object
 12  Gender                   22752 non-null  object
 13  Income                   22752 non-null  object
 14  GeoLocation              22752 non-null  object
 15  LocationID               22752 non-null  int64
 16  StratificationCategory1  22752 non-null  object
 17  Stratification1          22752 non-null  object
dtypes: float64(5), int64(3), object(10)
memory usage: 3.3+ MB

,YearStart,YearEnd,LocationAbbr,LocationDesc,Class,Question,Data_Value,Data_Value_Alt,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,Age(years),Gender,Income,GeoLocation,LocationID,StratificationCategory1,Stratification1
8,2015,2015,PR,Puerto Rico,Physical Activity,Percent of adults who engage in no leisure-tim...,38.1,38.1,32.6,43.8,421.0,36,Female,"$25,000 - $34,999","(18.220833, -66.590149)",72,Income,"$25,000 - $34,999"
13,2012,2012,WY,Wyoming,Physical Activity,Percent of adults who engage in no leisure-tim...,32.3,32.3,25.6,39.8,484.0,23,Male,"Less than $15,000","(43.235541343, -108.109830353)",56,Income,"Less than $15,000"
22,2017,2017,WA,Washington,Fruits and Vegetables,Percent of adults who report consuming fruit l...,36.1,36.1,31.5,41.0,766.0,50,Female,"Less than $15,000","(47.522278629, -120.47001079)",53,Income,"Less than $15,000"
26,2014,2014,PR,Puerto Rico,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,36.1,36.1,33.6,38.7,2214.0,29,Male,"Less than $15,000","(18.220833, -66.590149)",72,Income,"Less than $15,000"
27,2014,2014,GU,Guam,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,34.5,34.5,27.8,41.9,333.0,22,Female,"Less than $15,000","(13.444304, 144.793731)",66,Income,"Less than $15,000"

In [41]:
data = data_cleaned

,YearStart,YearEnd,LocationAbbr,LocationDesc,Class,Question,Data_Value,Data_Value_Alt,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,Age(years),Gender,Income,GeoLocation,LocationID,StratificationCategory1,Stratification1
8,2015,2015,PR,Puerto Rico,Physical Activity,Percent of adults who engage in no leisure-tim...,38.1,38.1,32.6,43.8,421.0,36,Female,"$25,000 - $34,999","(18.220833, -66.590149)",72,Income,"$25,000 - $34,999"
13,2012,2012,WY,Wyoming,Physical Activity,Percent of adults who engage in no leisure-tim...,32.3,32.3,25.6,39.8,484.0,23,Male,"Less than $15,000","(43.235541343, -108.109830353)",56,Income,"Less than $15,000"
22,2017,2017,WA,Washington,Fruits and Vegetables,Percent of adults who report consuming fruit l...,36.1,36.1,31.5,41.0,766.0,50,Female,"Less than $15,000","(47.522278629, -120.47001079)",53,Income,"Less than $15,000"
26,2014,2014,PR,Puerto Rico,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,36.1,36.1,33.6,38.7,2214.0,29,Male,"Less than $15,000","(18.220833, -66.590149)",72,Income,"Less than $15,000"
27,2014,2014,GU,Guam,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,34.5,34.5,27.8,41.9,333.0,22,Female,"Less than $15,000","(13.444304, 144.793731)",66,Income,"Less than $15,000"

In [44]:
# Export the DataFrame to a CSV file
data.to_csv('data.csv', index=False)